# Dependencies
node_modules
**/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build outputs
dist
**/dist
build
**/build

# Databases & SQLite temporary files
*.db-journal
*.db-wal
*.db-shm

# Environment variables & secrets
.env
.env.*
*.env

# Git & Repository metadata
.git
.gitignore
.dockerignore
*.md
projectoutline.txt

# Editor and OS files
.vscode
.idea
.DS_Store
Thumbs.db
